[user]
	name = Morgan Rhodes
	email = morgan@puppet.com
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
[grep]
	lineNumber = true
[merge "ours"]
	driver = true
